---
import githubImage from '../assets/github-logo.svg';
import linkedinImage from '../assets/linkedin-logo.svg';
import leetcodeImage from '../assets/leetcode-logo.svg';
import signalImage from '../assets/signal-logo.svg';

const githubUrl = "https://github.com/Y4vra";
const linkedinUrl = "https://www.linkedin.com/in/javiercarrascoarango";
const leetcodeUrl = "https://www.leetcode.com/slavencer";
const signalUrl = "https://signal.me/#eu/-gnbaFEXeBNhNFGqMfudDoDDlm3wNsL8Lp9-wxskdujg7n359tNPd4hCf2Tyb5wC";
---
<section id="contact" class="container centered">
	<!-- GitHub -->
	<a class="button" href={githubUrl} target="_blank" rel="noopener noreferrer">
		<img alt="github logo" src={githubImage.src} aria-hidden="true" loading="lazy"/>
		<span>GitHub</span>
	</a>

	<!-- LinkedIn -->
	<a class="button" href={linkedinUrl} target="_blank" rel="noopener noreferrer">
		<img alt="LinkedIn logo" src={linkedinImage.src} aria-hidden="true" loading="lazy"/>
		<span>LinkedIn</span>
	</a>

	<!-- LeetCode -->
	<a class="button" href={leetcodeUrl} target="_blank" rel="noopener noreferrer">
		<img alt="Leetcode logo" src={leetcodeImage.src} aria-hidden="true" loading="lazy"/>
		<span>LeetCode</span>
	</a>
	<!-- Signal -->
	<a class="button" href={signalUrl} target="_blank" rel="noopener noreferrer">
		<img alt="Signal logo" src={signalImage.src} aria-hidden="true" loading="lazy"/>
		<span>Signal</span>
	</a>
</section>