---
import { fade } from 'astro:transitions';
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';

const githubUrl = "https://github.com/Slavencer";
const linkedinUrl = "https://www.linkedin.com/in/javiercarrascoarango";
const leetcodeUrl = "https://www.leetcode.com/slavencer";
const signalUrl = "https://signal.me/#eu/-gnbaFEXeBNhNFGqMfudDoDDlm3wNsL8Lp9-wxskdujg7n359tNPd4hCf2Tyb5wC";
---

<div class="container" transition:animate={fade({duration:"0.4s"})}>
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<style>
		.button{
			margin:1rem;
			width:100%;
		}
	</style>
	<section class="container centered">
		<!-- GitHub -->
		<a class="button" href={githubUrl} target="_blank" rel="noopener noreferrer">
			<img alt="github logo" src="/src/assets/github-logo.svg"/>
			GitHub
		</a>

		<!-- LinkedIn -->
		<a class="button" href={linkedinUrl} target="_blank" rel="noopener noreferrer">
			<img alt="LinkedIn logo" src="/src/assets/linkedin-logo.svg"/>
			LinkedIn
		</a>

		<!-- LeetCode -->
		<a class="button" href={leetcodeUrl} target="_blank" rel="noopener noreferrer">
			<img alt="Leetcode logo" src="/src/assets/leetcode-logo.svg"/>
			LeetCode
		</a>
		<!-- Signal -->
		<a class="button" href={signalUrl} target="_blank" rel="noopener noreferrer">
			<img alt="Signal logo" src="/src/assets/signal-logo.svg"/>
			Signal
		</a>
	</section>
</div>
