---
import { getCollection } from 'astro:content';
import { type CollectionEntry } from "astro:content";

import { fade } from 'astro:transitions';

const projects = await getCollection('projects');
const hasProjects = projects.length > 0;
---

<div class="container" transition:animate={fade({duration:"0.4s"})}>
    <h2>My Projects</h2>
    {hasProjects ? (
    <div class="project-grid">
        {projects.map((project: CollectionEntry<"projects">) => 
            (
                <article id={project.id} class="project-card">
                    <img src={project.data.image} alt={project.data.title} />
                    <h2>{project.data.title}</h2>
                    <p>{project.data.description}</p>
                    <a class="button">More...</a>
                </article>)
        )}
    </div>
    ) : (
    <p>No projects found. Check back later!</p>
    )}
</div>