---
import { getCollection } from 'astro:content';
import { type CollectionEntry } from "astro:content";

import { fade } from 'astro:transitions';

const projects = await getCollection('projects');
const hasProjects = projects.length > 0;
---

<div class="container" transition:animate={fade({duration:"0.4s"})}>
    <h1>My Projects</h1>
    {hasProjects ? (
    <div class="project-grid container">
        <style>
            div{
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            .project-card {
                width: 28%;
                background-color: #fff;
                border-radius: 0.5rem; 
                box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
                padding: 1.5%;
                margin:1%;
                transition: transform 0.2s, box-shadow 0.2s; 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .project-card > img{
                width: 70%;
                margin: 0% 15%;
            }
            
            @media screen and (max-width: 768px) {
                .project-card {
                    width:90%;
                }
                .project-grid{
                    align-items: center;
                }
            }
        </style>
        {projects.map((project: CollectionEntry<"projects">) => 
            (<article id={project.id} class="project-card">
                <img src={project.data.image} alt="no image provided" />
                <h2>{project.data.title}</h2>
                <p>{project.data.description}</p>
                <a class="button" href={project.data.link}>More...</a>
            </article>
            )
        )}
    </div>
    ) : (
    <p>No projects found. Check back later!</p>
    )
    }
</div>