---
import { getCollection } from 'astro:content';
import { type CollectionEntry } from "astro:content";

import { fade } from 'astro:transitions';

const projects = await getCollection('projects');
const hasProjects = projects.length > 0;
---

<section id="portfolio" class="container" transition:animate={fade({duration:"0.4s"})}>
    <h1>My Projects</h1>
    {hasProjects ? (
    <div class="project-grid container">
        {projects.map((project: CollectionEntry<"projects">) => 
            (<article id={project.id} class="project-card">
                <img class="project-image" src={import.meta.env.BASE_URL+project.data.image} alt={project.id} />
                <h2>{project.data.title}</h2>
                <p>{project.data.description}</p>
                <a class="button" href={project.data.link}>More...</a>
            </article>
            )
        )}
    </div>
    ) : (
    <p>No projects found. Check back later!</p>
    )
    }
</div>